# Resúmen 5.1.10.1 - 5.1.10.4

## Comparando Cadenas

Las cadenas en Python pueden ser comparadas usando el mismo conjunto de operadores que se emplean con los números.

Estos operadores también pueden comparar cadenas:

#### ==
#### !=
#### >
#### >=
#### <
#### <=

Pero los resultados de tales comparaciones a veces pueden ser un poco sorprendentes. No olvides que Python no es consciente (no puede ser de ninguna manera) de problemas lingüísticos sutiles, simplemente compara valores de puntos de código, caracter por caracter.

Los resultados que obtienen de una operación de este tipo a veces son sorprendentes. Comencemos con los casos más simples.

Dos cadenas son iguales cuando consisten en los mismos caracteres en el mismo orden. Del mismo modo, dos cadenas no son iguales cuando no consisten en los mismos caracteres en el mismo orden.

In [1]:
# Ejemplo.

'alfa' == 'alfa'
'alfa' != 'Alfa'

True

La relación final entre cadenas está determinada por comparar el primer caracter diferente en ambas cadenas.

Cuando se comparan dos cadenas de diferentes longitudes y la más corta es idéntica a la más larga, la cadena más larga se considera mayor.

In [3]:
# Ejemplo 2.

'alfa' < 'alfabeto'

True

La comparación de cadenas siempre distingue entre mayúsculas y minúsculas (las letras mayúsculas se consideran menores en comparación con las minúsculas).

In [4]:
# Ejemplo 3.

'beta' > 'Beta'

True

Aún si una cadena contiene solo dígitos, todavía no es un número. Se interpreta como lo que es, como cualquier otra cadena regular, y su aspecto numérico (potencial) no se toma en cuenta, en ninguna manera.

In [16]:
# Ejemplo 1.
'10' == '010'

False

In [17]:
# Ejemplo 2.
'10' > '010'

True

In [18]:
# Ejemplo 3.
'10' > '8'

False

In [19]:
# Ejemplo 4.
'20' < '8'

True

In [20]:
# Ejemplo 5.
'20' < '80'

True

## Comparar cadenas contra números generalmente es una mala idea.

Las únicas comparaciones que puede realizar con impunidad son aquellas simbolizadas por los operadores **==** y **!=**. El primero siempre devuelve False, mientras que el segundo siempre devuelve True.

El uso de cualquiera de los operadores de comparación restantes generará una excepción TypeError.

In [22]:
# Ejemplo 1.
'10' == 10

False

In [23]:
# Ejemplo 2.
'10' != 10

True

In [24]:
# Ejemplo 3.
'10' == 1

False

In [25]:
# Ejemplo 4.
'10' != 1

True

In [26]:
# Ejemplo 5.
'10' > 10

TypeError: '>' not supported between instances of 'str' and 'int'

## Ordenamiento

La comparación está estrechamente relacionada con el ordenamiento (o más bien, el ordenamiento es, de hecho, un caso muy sofisticado de comparación).

Esta es una buena oportunidad para mostrar dos formas posibles de ordenar listas que contienen cadenas. Dicha operación es muy común en el mundo real: cada vez que ves una lista de nombres, productos, títulos o ciudades, esperas que este ordenada.

Supongamos que deseas ordenar la siguiente lista:

 **greek = ['omega', 'alfa', 'pi', 'gama']**

En general, Python ofrece dos formas diferentes de ordenar las listas.

El primero se implementa con una **función** llamada **sorted().**

**La función toma un argumento (una lista) y devuelve una nueva lista, con los elementos ordenados del argumento.** 

La lista original permanece intacta.

In [30]:
# Demostración de la función sorted()
firstGreek = ['omega', 'alfa', 'pi', 'gama']
firstGreek2 = sorted(firstGreek)

print(firstGreek)
print(firstGreek2)

print()

['omega', 'alfa', 'pi', 'gama']
['alfa', 'gama', 'omega', 'pi']

**El segundo método afecta a la lista misma - no se crea una nueva lista.** El ordenamiento se realiza por el **método** denominado **sort().**

In [31]:
# Demostración del método sort()
secondGreek = ['omega', 'alfa', 'pi', 'gama']
print(secondGreek)

secondGreek.sort()
print(secondGreek)

['omega', 'alfa', 'pi', 'gama']
['alfa', 'gama', 'omega', 'pi']

El resultado no ha cambiado.

Si necesitas un orden que no sea descendente, debes convencer a la función o método de cambiar su comportamiento predeterminado.

## Cadenas contra números

Hay dos cuestiones adicionales que deberían discutirse aquí: cómo convertir un número (un entero o un flotante) en una cadena, y viceversa. Puede ser necesario realizar tal transformación. Además, es una forma rutinaria de procesar datos de entrada o salida.

La conversión de cadena a número es simple, ya que siempre es posible. Se realiza mediante una **función** llamada **str().**

In [32]:
# Demostración de la función str()
itg = 13
flt = 1.3
si = str(itg)
sf = str(flt)

print(si + ' ' + sf)

13 1.3

La transformación inversa solo es posible cuando la cadena representa un número válido. Si no se cumple la condición, espera una excepción ValueError.

**Emplea la función int() si deseas obtener un entero, y float() si necesitas un valor punto flotante.**

In [33]:
# Demostración de la función int()
si = '13'
sf = '1.3'
itg = int(si)
flt = float(sf)

print(itg + flt)

14.3

## Mayela Danae Ayala Nevárez.
## No. de Control: 19041342